
.tab-pane .tab-header-area .tab-header-background {
    -fx-background-color: #ffffff;

}
.tab-pane{
    -fx-tab-min-width:90px;
    -fx-background-radius:10px;
}

.tab{
    -fx-background-insets: 0 1 0 1,0,0;
}
/* Unselected Tab color */
.tab-pane, .tab
{
    -fx-background-color: #127451;

}

.tab-pane, .tab:selected
{
    -fx-background-color: #424fb3;
}

.tab, .tab-label {
    -fx-alignment: CENTER;
    -fx-text-fill:  #fffd70;
    -fx-font-size: 12px;
    -fx-font-weight: bold;

}

.tab:selected, .tab-label {
    -fx-alignment: CENTER;
    -fx-text-fill:  #fffd70;
}

.custom-dialog-header .header-panel{
    -fx-font-size: 14px;
    -fx-font-weight: bold;
    -fx-font-family:"Utopia";
}
.custom-dialog-header .header-panel{
    -fx-font-size: 14px;
    -fx-font-weight: Normal;
    -fx-font-family:"Spectral";
}

.custom-dialog-header .content {
    -fx-line-spacing: 10px;
    -fx-font-family:"Utopia";
}
Button {
    -fx-background-color: #e3b256; /* Green background color */
    -fx-font-weight: Bold;
    -fx-text-fill: white; /* White text color */
    -fx-font-size: 14px; /* Font size */
    -fx-padding: 5px 10px; /* Padding (top/bottom, left/right) */
}
