
.tab-pane .tab-header-area .tab-header-background {
    -fx-background-color: #fffd70;

}
.tab-pane{
    -fx-tab-min-width:90px;
    -fx-background-radius:10px;
}

.tab{
    -fx-background-insets: 0 1 0 1,0,0;
}
/* Unselected Tab color */
.tab-pane, .tab
{
    -fx-background-color: #127451;

}

.tab-pane, .tab:selected
{
    -fx-background-color: #424fb3;
}

.tab, .tab-label {
    -fx-alignment: CENTER;
    -fx-text-fill:  #fffd70;
    -fx-font-size: 12px;
    -fx-font-weight: bold;

}

.tab:selected, .tab-label {
    -fx-alignment: CENTER;
    -fx-text-fill:  #fffd70;
}