
.tab-pane .tab-header-area .tab-header-background {
    -fx-background-color: #ffffff;

}
.tab-pane{
    -fx-tab-min-width:90px;
    -fx-background-radius:10px;
}

.tab{
    -fx-background-insets: 0 1 0 1,0,0;
}
/* Unselected Tab color */
.tab-pane, .tab
{
    -fx-background-color: #127451;

}

.tab-pane, .tab:selected
{
    -fx-background-color: #424fb3;
}

.tab, .tab-label {
    -fx-alignment: CENTER;
    -fx-text-fill:  #fffd70;
    -fx-font-size: 12px;
    -fx-font-weight: bold;

}

.tab:selected, .tab-label {
    -fx-alignment: CENTER;
    -fx-text-fill:  #fffd70;
}
.custom-list-view .list-cell{
-fx-border-color:black;
-fx-border-width:2px;

}
.custom-list-view .list-cell:even {
    -fx-background-color: #4287f5;
    -fx-text-fill:#FFFFFF;

}
.custom-list-view .list-cell:odd {
    -fx-background-color: #538eed;
    -fx-text-fill:#FFFFFF;
}